<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Add product</title>
<head>
    <style>
    body {
	background-color: lightblue;
	}
	    table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    }
    th, td {
            text-align: left;
            padding: 4px;
        }

        tr:nth-child(even) {
            background-color: skyblue;
        }
  </style>
    <h2> create Product</h2>
</head>
<body>
<form action="saveProduct", method="post">
    <pre>
        Enter Product information below :
      <pre></pre>
        Name:           <input type="text" name="productName" > </br>
        Unit :          <input type="text" name="productUnit" > </br>
        Cost :          <input type="text" name="productCost" > </br>
        Type:           <input type="text" name="productType" > </br>
        Company:        <input type="text" name="productCompany" > </br>
        Description:    <input type="text" name="productDescription" > </br>

        <input type="submit", value="save"> </pre>
</form>
<b th:text="${msg}"></b>

<h3> Products Table</h3>
<table style="width:50%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Unit</th>
        <th>Type</th>
        <th>Company</th>
        <th>Description</th>
    </tr>

    <tr th:each ="product:${product}" >
        <td th:text="${product.productId}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.productCost}"></td>
        <td th:text="${product.productUnit}"></td>
        <td th:text="${product.productType}"></td>
        <td th:text="${product.productCompany}"></td>
        <td th:text="${product.productDescription}"></td>

        <td><a th:href="@{'updateProduct?id='+${product.productId}}">update</a>
        <td><a th:href="@{'deleteProduct?id='+${product.productId}}">delete</a>
    </tr>


</table>
</br>
<a href="homePage">Back</a></br>
<pre>**Shopping is the greatest gift of all** </pre>
<br>
</body>
</html>