<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<title>Add Sale</title>
<head>
    <style>
    body {
	background-color: #f0cccc;
	}
	    table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    }
    th, td {
            text-align: left;
            padding: 4px;
        }

        tr:nth-child(even) {
            background-color: skyblue;
        }
  </style>
    <h2> create Sale</h2>

</head>
<body>
<a href="addCustomer">Register a new customer</a>
</br></br>

<form action="startSale", method="post">
    <pre>
        Customer Already registered.? Enter their mobile number.</br>
        Customer Mobile: <input type="text" name="customerId" >   </br>

        <input type="submit", value="Start Billing">
    </pre>
</form>
</br></br>

<b th:text="${msg}"></b>

</br>
<a href="homePage">Back</a></br>
<pre>**Shopping is the greatest gift of all** </pre>
<br>
</body>
</html>