<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Add product</title>
<head>
    <style>
    body {
	background-color: lightblue;
	}
	    table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    }
    th, td {
            text-align: left;
            padding: 4px;
        }

        tr:nth-child(even) {
            background-color: skyblue;
        }
  </style>
</head>
<body>
</br>
<form action="updateSalesProduct", method="post">
  Edit product list for Sales Id: <input type="text" name="salesId"  th:value="${cart.salesId}" ReadOnly > </input>
<pre>
  </br>ID:                      <input th:value="${product.productId}" name="productId" aria-readonly="true"></input>
  </br>Name:                    <input th:value="${product.productName}" name="productName" aria-readonly="true"></input>
  </br>Cost:                    <input th:value="${product.productCost}" name="productCost" aria-readonly="true"></input>
  </br>Product Count:           <input th:value="${cart.productCount}" name="productCount"></input>
</pre>

  <input type="submit", value="update cart">
</form>
</br>
<a href="homePage">Back</a></br>

<pre>**Shopping is the greatest gift of all** </pre>
<br>
</body>
</html>