<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Sales Report</title>
<head>
    <style>
    body {
	background-color: #61caca;
	}
	    table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    }
    th, td {
            text-align: left;
            padding: 4px;
        }

        tr:nth-child(even) {
            background-color: #61acac;
        }
  </style>
    <h2> Sales Report</h2>
</head>
<body>
<h3>Sales Table</h3>
<Table>
    <tr>
        <th>Sale ID</th>
        <th>Customer Mobile</th>
        <th>Total </th>
        <th>Date </th>
    </tr>
    <tr th:each ="sales:${sales}" >
        <td th:text="${sales.salesId}"></td>
        <td th:text="${sales.customerId}"></td>
        <td th:text="${sales.total}"></td>
        <td th:text="${sales.salesDate}"></td>
    </tr>
</Table>
<pre>**Shopping is the greatest gift of all** </pre>
<br>
</body>
</html>